html {
  background-color: #ededed
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #222;
  font-size: 0.9em;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 0.5em;
  /*margin-top: 2em;*/
}

h2 {
  font-size: 1.2em;
  line-height: 2em;
  font-weight:normal;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 0px;
  max-width: 600px;
  margin: auto;
}

h3 {
  font-size: 1.6em;
  font-weight: bold;
  /* text-align: center; */
  margin-bottom: 0.5em;
  margin-top: 4em;
}

ul {
  line-height: 36px;
}

footer {
  border-top: 0.5px dashed #222;
  text-align: center;
  font-size: 14px;
  margin-top: 128px;
  /*margin-bottom: 64px;*/
  color: #222;
  vertical-align: middle;
  padding-top: 2em;
  padding-bottom: 2em;
  line-height: 2em;
  max-width: 800px;
  margin: auto;
}


.code{
  border: 0.5px solid lightgray;
  background-color: GhostWhite;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  padding-left: 12px;
  color: gray;
  display: inline-block;
  font-size: 0.8em;
  line-height: 2.4em;
}

.logo {
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

.bullet {
  margin-top: 2em;
}

.text_container {
  margin: auto;
  margin-top: 76px;
  max-width: 600px;
  line-height: 2em;
  margin-bottom: 100px;
}
